.header {
  padding: 93px 51px 95px;
}

.header__nav_and_contacts {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.header__menu {
  align-self: center;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

address {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
  justify-content: flex-start;
}

.header__address {
  justify-self: end;
}

.header__logo {
  align-self: center;
  justify-self: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.accent-span {
  display: block;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  text-align: left;
  line-height: 116%;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  padding-top: 135px;
  display: flex;
  gap: 78px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.lots {
  padding: 180px 50px 181px;
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 25px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__look-more-link {
  padding-left: 40px;
  padding-top: 30px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  padding: 50px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.about {
  padding: 5px 50px 180px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 15px;
}

.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 100%;
}

.about__title {
  align-self: center;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.about__logo-image {
  padding: 63px 46px;
}

.footer {
  padding: 0 50px 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__address {
  min-height: 105px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer__menu-list {
  align-self: center;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  max-width: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-icon {
  max-height: 48px;
}
